<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <style type="text/css">
     #thumbs 	{padding:8px;border:1px solid #ccc;}
	 .even 		{background-color:#eee;}
  </style>
</head>

<body>
<div id="thumbs"></div>


<script type="text/javascript">




/*----------------------------------------------------------
//   Micro JavaScript Templating   xtpl (minified version)
//   Leo Lems - http://2basix.nl 
// 		original code by John Resig - MIT Licensed
------------------------------------------------------------*/
// Here comes the magical function that will power your web-application
(function(){

	this.xtpl_add = function xtpl_add(templatestring, data){
		//======================================================================
		//==-- 2basix version  (improved code..)	
		//======================================================================
		var ret='', err='';
		
			// Generate a reusable function that will serve as a template generator.
		try{ 
				var rdata = /{%=\s*(.+?)\s*%}/g, 
					rfunc = /{%=\s*\(\s*(.+?)\s*\)\s*%}/g,
					pre_tpl =	"var p='"+
								templatestring	.replace(/[\r\t\v\n\b]/g, "")
												.split("'").join("\\'")
												.split("{%js").join("';")
												.split("js%}").join("; p+='")
								+"'; return p;";
								
					xfn =   // Generate a reusable function that will serve as a template generator.
							new Function("xtplData", 
									pre_tpl.replace(rfunc, "'; p+=(xtplData.$1); p+='")		// take care off functions
										   .replace(rdata, "'; p+=((xtplData.$1)?xtplData.$1:''); p+='")
							);
							
		} catch(err) { 
				txt="xtpl: There is an error inside the template string\n\n";
				txt+="Click OK to continue.\n\n";
				alert(txt); 
				return '';
		}
		if (!data) { return xfn }	// return the function !!!

		//=================================================
		try{ ret=xfn(data); } catch(err) { 
				txt="xtpl: Error occured when generating the HTML from the template \n\n";
				txt+="Click OK to continue.\n\n";
				alert(txt); 
				return '';
		}
 		return ret;
	};
})();




/*=============================================================================
==-- 							Template string NOTES
-------------------------------------------------------------------------------
{%=id%}		regular tag, that will be replaced by the data (if present)
{%=text%}	again a data element
{%js ( id % 2 == 1 ? \"even\" : \"\" ) js%}
			
{%js  ..  js%}	Any plain piece of javascript that will be inserted
==============================================================================*/
var thetemplate = "<div id=\"{%=id%}\" class=\"{%= ( id % 2 == 1 ? \"even\" : \"\" ) %}\">{%=text%}</div>";

var xtplTemplate2 = '<div><h1 class="header">{%=header%}</h1><h2 class="header2">{%=header2%}</h2><h3 class="header3">{%=header3%}</h3><h4 class="header4">{%=header4%}</h4><h5 class="header5">{%=header5%}</h5>{%=xxxx%}<h6 class="header6">{%=header6%}</h6><ul class="list">{%js var i=0, alen=xtplData.list.length; for ( i=0; i < alen; i++ ) { js%} <li class="item">{%=list[i]%}</li> {%js } js%}</ul></div>';


var html="";	
// some json test data (4 records)
var data2= [ 	{id:"1", text:"John says... Hello you JS devs.. "},
				{id:"2", text:"this is a second line"},
				{id:"3", text:"the third line"},
				{id:"4", text:"The finishing line"}  ];

var newdata= {
           header: "Header",
           header2: "Header2",
           header3: "Header3",
           header4: "Header4",
           header5: "Header5",
           header6: "Header6",
           list: ['10000000', '2', '3', '4', '5', '6', '7', '8', '9', '10']
          };
				
				
			
// generate our rendering function !!!
var Tfunc = xtpl_add(thetemplate);
var tpl2 = xtpl_add(xtplTemplate2);

// generate the html using our Tfunc
for (i = 0; i < data2.length; i++ ) {
	html += Tfunc( data2[i] );
}

// output the html
$('#thumbs').html(html+'<br /><br />'+tpl2(newdata));




</script>

</body>
</html>
